#hero {
  background-image: url('hero-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1#title {
  line-height: 150%;
}

.menu {
  background-color: #cbddec;
  box-shadow: 4px 4px #2c3a50;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: #2c3a50;
}

.menu:hover {
  background-color: #b6c7d4;
}

.menu-wrapper {
  background-color: #f3f6fa;
}

#email:hover {
  text-decoration: underline;
}
