@import 'bootstrap/dist/css/bootstrap.min.css';

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
  color: #141414;
}

.bg-darkblue {
  color: #fff;
  background-color: #142237;
}

.bg-blue-subtle {
  background-color: #cbddec;
}

.bg-lightblue {
  background-color: #f3f6fa;
}

.border-blue {
  border-color: #142237 !important;
}

.persamaan button {
  border-radius: 8px;
  padding: 12px 20px;
  margin: 4px;
  background-color: #f3f6fa;
  border: none;
}

.persamaan button:hover {
  background-color: #fff;
}
