@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
  color: #141414;
}

.bg-darkblue {
  color: #fff;
  background-color: #142237;
}

#next-page-button:hover {
  background-color: #2c3a50;
}
