@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
}

.text-bg-darkblue {
  color: #fff;
  background-color: #142237;
}
